button{
  border-radius: 30px;
  padding: 7px 20px;
  background-color:  rgb(237, 226, 226);
  border:rgb(0, 0, 0) 90px;
  margin: 4px;



}
.center {
  padding: 15px 115px  ;
}
.modal{
  position:fixed;
  display:block;
  height: 100%;
  width: 100%;


  background-color: #fff;


  padding-top: 100px;

  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);






  }
   .firstBlur, .secondBlur, .imgBlur {

    border: solid 2px rgb(217, 208, 219);
    padding:5px;
    position:relative;

  }
  .modal-content {
    border: unset;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
    max-width: 500px;
    height: 400px;
    transform: translate(0% , 50%);
  }


  .search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
  }
  .search-click:focus {
    width: 300px;
    padding-left: 50px;
  }
  .search-click {
    position: relative;
    overflow: hidden;
    height: 50px;
  }
  .search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;



  }
  /* .card-footer{
    background-color: rgb(248, 218, 218);
  } */
  .input-group{
  display : inline-block;
  }



.search-container{


    display: flex;
    justify-content: end;

}
*, *:before, *:after{
  box-sizing: content-box;



  }
  /* .card-footer, .card-body{
    background-color: antiquewhite;
    border: none;
    margin: 0 ;
    padding: 5px;
  } */
.card-deck{
  border:30px;
}
/* .flex-column {
  flex-direction: row!important;
}


/* *{
  margin: 0;
  padding: 0;

} */

/* .card-footer{
  position: absolute;
  top: 216px;
  left: 328px;
   display: flex;
}*/

 .btn{
  background: transparent;
  border: none;
  margin: 10px;
  font-size: 18px;
  outline: none;
  color: rgb(grey);
  cursor: pointer;
}

.btn i:hover{
  cursor: pointer;
}
.card-row{
  border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

  cursor: pointer;
}
.card-row:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
