
<!-- <ul class="cards">
  <li>
    <a href="" class="card">
      <img src="https://media.istockphoto.com/photos/spritz-cocktail-set-on-white-table-picture-id1288951559?b=1&k=20&m=1288951559&s=170667a&w=0&h=J6cgr9_7RAo4DW8FBIvJTOtQulb0xRA5S3UCI8ue7XU=" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
          <img class="card__thumb" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd3nISK8SQandTHNVqYUITHqIfELIDLv7OJw&usqp=CAU" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">Category</h3>
            <a href="https://www.youtube.com/watch?v=c6GV_vRlIIA">read more</a>

          </div>
        </div>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
      </div>
    </a>
  </li>
  <li>
    <a href="" class="card">
      <img src="https://media.istockphoto.com/photos/mango-and-berries-lemonades-drink-on-white-table-green-wall-in-with-picture-id1305264188?k=20&m=1305264188&s=612x612&w=0&h=b2yppxBy-EwlpUQTm8fB5ISWy_iudl3Zv_XhFNIFH80=" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
          <img class="card__thumb" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX9hI2fwAWGKpFo7vTCWEPIKdeUwI6_QjF6OcUPAOIBThkjk2Gu27idqqNxKhPahcYiAA&usqp=CAU" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">Ingredients</h3>
            <a href="http://localhost:4200/ingredients">read more</a>
          </div>
        </div>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
      </div>
    </a>
  </li>
</ul> -->
<div class="hero">
  <video autoplay loop muted plays-inline class="back-video" >
    <source src="https://media.istockphoto.com/videos/pouring-in-gin-and-tonic-in-glass-video-id1289375076">
  </video>

  </div>
