button{
  border-radius: 30px;
  padding: 7px 15px;
  background-color: rgb(250, 245, 245);
  border:rgb(216, 205, 205) 90px;
  margin: 4px;
  margin-top: 115px;



}
.center {
  padding: 15px 115px  ;
}
.modal{
  position:fixed;
  display:block;
  height: 100%;
  width: 100%;


  background-color: #fff;


  padding-top: 100px;

  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);





  }
   .firstBlur, .secondBlur, .imgBlur {

    border: solid 2px rgb(217, 208, 219);
    padding:5px;
    /* position:relative; */

  }
  .modal-content {
    border: unset;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
    max-width: 500px;
    height: 400px;
    transform: translate(0% , 50%);
  }




  .search-container{


    display: flex;
    justify-content: end;
}
*, *:before, *:after{
  box-sizing: content-box;


  }
