
.nav-link{
  color: rgb(173, 121, 121);
  font-size: 30px;
  background-color: 	256 	#ece5ff	rgb(236, 229, 255)	hsl(256, 100%, 95%);


}
.navbar-expand-lg{
  background-color: 	256 	#ece5ff	rgb(236, 229, 255)	hsl(256, 100%, 95%);

}
header{
  background-color:300 	#ffe5ff	rgb(255, 229, 255)	hsl(300, 100%, 95%);
  color:  rgb(196, 177, 177);

}
.nav-link {
  padding-top: 0em;
  padding-bottom:1em;
  margin-left:0em;
  position: center;
  top: 0.2em;
}
a.nav-link.active{

  text-decoration-line: underline;
}


/* .search-click {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
}
.search-click:focus {
  width: 300px;
  padding-left: 50px;
}
.search-click {
  position: relative;
  overflow: hidden;
  height: 50px;
}
.search-click input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  width: 300px;
  height: 50px;
  left: 0%;
  padding: 10px;



} */

.search-button {
  font-size: 17px;
  cursor: pointer;
  margin-right: auto;
  background:  	rgb(217, 208, 219) ;
  border: 2px solid  #ccc;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}



nav{
  display: flex;
  justify-content:space-between;
  align-items: center;


}
.search-click {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
}
.search-click:focus {
  width: 300px;
  padding-left: 50px;
}
.search-click {
  position: relative;
  overflow: hidden;
  height: 50px;
}
.search-click input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  width: 300px;
  height: 50px;
  left: 0%;
  padding: 10px;
}

*{
  margin:0;
  padding:0;


}
body{
  text-align: center;
}
.wrapper{
  width: 1170px;
  margin: 0 auto;

}
header{
  height: 100px;

  width: 100%;
  z-index: 12;
  position: fixed;
  /* background-color: rgba(255,255,255,.5); */
  background-color:  #877e739e;


}
.logo{
  width: 30%;
  float: left;
  line-height: 100px;

}
.logo a{
  text-decoration: none;
  font-size: 30px;
  font-family: bignoodletitling;
  letter-spacing: 5px;
  color: white;

}
nav{
  float: right;
  line-height: 100px;


}
nav a{
  text-decoration: none;
  font-family: bignoodletitling;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0 10px;
  color:#fff;


}

/* * {
  box-sizing: unset;
} */



