
<div class="box-area">

<header>
 <div class="wrapper">
   <div class="logo">
     <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShtg-AW4zoq-4TvkiAMhRTUUCA2H_qC5G3NQ&usqp=CAU" alt=""> -->
      <a href="#">Cocktails</a>

 </div>
  <!-- <div style="text-align: center"> -->
  <!-- <h1>cocktails</h1>


  </div>







       <div id="camera" class="camera_wrap" style="display: block; margin-bottom:24px; height:558px;">
   <div class="camera_fakehover"> -->
     <!-- <div class="cameraSlide cameraSlide_0 cameracurrent" style="visibility: visible; display: block; z-index: 999;">
      <img src="images/page-1_slide01.jpg?1653310236150" class="imgLoaded" style="visibility: visible; height: 558px; margin-left: -0.0337079px; margin-top: 0px; position: absolute; width: 1071.07px;" data-alignment="" data-portrait="" width="2050" height="1068">
      <div class="camerarelative" style="width: 1071px; height: 558px;">
      </div> -->
      <!-- <div class="cameraSlide cameraSlide_1 cameranext" style="display: none; z-index: 1;"><img src="images/page-1_slide02.jpg?1653310236389" class="imgLoaded" style="visibility: visible; height: 558px; margin-left: -0.0337079px; margin-top: 0px; position: absolute; width: 1071.07px;" data-alignment="" data-portrait="" width="2050" height="1068"><div class="camerarelative" style="width: 1071px; height: 558px;">
        <img src="images/page-1_slide02.jpg?1653310236389" class="imgLoaded" style="visibility: visible; height: 558px; margin-left: -0.0337079px; margin-top: 0px; position: absolute; width: 1071.07px;" data-alignment="" data-portrait="" width="2050" height="1068">
        <div class="camerarelative" style="width: 1071px; height: 558px;"></div>
      </div> -->





     <!-- <div class="row">
    <div id="video">
    <video class="img-fluid" autoplay loop muted>
      <source src="" type="video/mp4" />
    </video>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-dropdown navbar-expand-lg d-flex justify-content-center" >


  <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
    <ul class="navbar-nav">

      <li class="nav-item  active">

        <a routerLink="/homes" routerLinkActive="active" class="nav-link" (click)="toggleSearch()">Home <span class="sr-only"></span></a>

      </li>
      <li class="nav-item  active">

        <a routerLink="/categories" routerLinkActive="active" class="nav-link" (click)="toggleSearch()">Category <span class="sr-only"></span></a>

      </li>
      <li class="nav-item  ">
        <a routerLink="/ingredients" routerLinkActive="active" class="nav-link" (click)="toggleSearch()">Ingredients</a>

      </li>
      <li class="nav-item  ">
       <a routerLink="/glasses" routerLinkActive="active" class="nav-link" (click)="noSearch()">Glass</a>
      </li>
      <li class="nav-item ">
        <a routerLink="/alcoholic" routerLinkActive="active" class="nav-link" (click)="noSearch()">Alcoholic</a>
        </li>
        <li class="nav-item  ">
          <a routerLink="/favourites" routerLinkActive="active" class="nav-link" (click)="noSearch()">Favourite</a>
         </li>
         <li class="nav-item  ">
          <a routerLink="/history" routerLinkActive="active" class="nav-link" (click)="noSearch()">History</a>
         </li>
    </ul>


    <!-- <div class="search-container" *ngIf="showSearch" >
      <form *ngFor="let searc of search">
        <input type="text" class="search-click" name="" placeholder="search here..." />
        <button (click)=" onSearch(searc)"   class="search-button" type="submit"><i class="fa fa-search"></i></button>
     <p>{{searc.strIngredient}}</p>
      </form>
    </div> -->


</nav>
 </div>

</header>


<router-outlet ></router-outlet>
