
.nav-link{
  color: rgb(173, 121, 121);
  font-size: 30px;
  background-color: 	256 	#ece5ff	rgb(236, 229, 255)	hsl(256, 100%, 95%);


}
.navbar-expand-lg{
  background-color: 	256 	#ece5ff	rgb(236, 229, 255)	hsl(256, 100%, 95%);

}
header{
  background-color:300 	#ffe5ff	rgb(255, 229, 255)	hsl(300, 100%, 95%);
  color:  rgb(173, 121, 121);

}
.nav-link {
  padding-top: 0em;
  padding-bottom:1em;
  margin-left:0em;
  position: center;
  top: 0.2em;
}
a.nav-link.active{

  text-decoration-line: underline;
}

/* .search-click {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
}
.search-click:focus {
  width: 300px;
  padding-left: 50px;
}
.search-click {
  position: relative;
  overflow: hidden;
  height: 50px;
}
.search-click input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  width: 300px;
  height: 50px;
  left: 0%;
  padding: 10px;



} */

.search-button {
  font-size: 17px;
  cursor: pointer;
  margin-right: auto;
  background:  	rgb(217, 208, 219) ;
  border: 2px solid  #ccc;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}



nav{
  display: flex;
  justify-content:space-between;
  align-items: center;


}
.search-click {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
}
.search-click:focus {
  width: 300px;
  padding-left: 50px;
}
.search-click {
  position: relative;
  overflow: hidden;
  height: 50px;
}
.search-click input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  width: 300px;
  height: 50px;
  left: 0%;
  padding: 10px;
}
/* .img-fluid{
  width:120%;
  height:120%;
} */
/* #myVideo {
  position: fixed;
  /* right: 0;
  /* bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width:10%;
   height:10%;
} */

/* .container-fluid{
  padding-left:350px;
  width: 100%;
  height: 180px;
} */
/* .card-deck{

} */

/* .navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: rgb(24, 19, 19);
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color:  rgb(216, 182, 182);
  text-decoration: none;
}

.navbar .navbar-brand {
  color: rgb(107, 29, 29);
}


/* Change navbar styling on scroll */
/* .navbar.active {
  background: rgb(75, 70, 70);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}







/* Change navbar styling on small viewports */
/* @media (max-width: 991.98px) {
  .navbar {
     background: rgb(138, 94, 94);
  }

  .navbar .navbar-brand, .navbar .nav-link {
      color: rgb(146, 56, 56);
  }
}



.text-small {
  font-size: 0.9rem !important;
}


body {
  min-height: 100vh;
  background-color: #4ca1af;
  background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%);
}
  /* } */

/* .image{
  background-color: lightpink;
  background: url(https://media.istockphoto.com/photos/vacating-is-better-with-some-cocktails-picture-id1314759474?k=20&m=1314759474&s=612x612&w=0&h=eG8FDbECHOK2H6RSo1i6Itc_d2_o3Pd4sVFHGVRckvs=) no-repeat center center;
  background-size: cover;
  height: 570px;
  margin-top: -20px;

}
.heading{
  color: white;
  text-align: center;
  padding-top: 200px;

}
p{
  text-align: center;
  padding: 20px 60px; }

      .btn{
        background-color:
        transparent;
        color:white;
        border:after 1px solid white;
        padding: 10px;
        font-size: 1.2em;
      }
         :hover {
            color: #C57ED3;
            border-color: #C57ED3;
         }




.navbar {
 height: 80px;
 background-color: transparent;
 border: none;
 color: white;
 z-index: 100;
 transition: background-color 1s ease 0s;
}


.navbar-default

  .navbar-brand {
    margin-top: 10px;
    color: white;}

     :hover {
        color: #C57ED3;
        border: 1px solid #C57ED3;
     }





     .icon-bar {
       color: #C57ED3;
       background-color: #C57ED3;

     }

 .navbar-collapse.collapse.in ul {
   background-color: #490D40;
 } */





/* Solid class attached on scroll past first section */

/* .navbar.solid {
 background-color: #490D40;
 transition: background-color 1s ease 0s;
 box-shadow: 0 0 4px grey;
}
   .navbar-brand {
     color: #C57ED3;
     transition: color 1s ease 0s;

   }
.about {
  background-color: #C57ED3;
  color: #490D40;
  height: 600px;
  text-align: center;
  margin-top: -20px;
}
  h2 {
     padding-top: 220px;
  }
  p {
     padding: 20px 80px;
  }


  */




