 <div class="d-flex align-content-around flex-wrap">

<div *ngFor="let alcohol of alcoholCoctails ">

  <button  (click)="onSelect(alcohol.strAlcoholic)"> {{alcohol.strAlcoholic}}</button>
</div>
</div>
 <!-- <div *ngFor="let a of alcoholy">
 <h4> {{a.strDrink}}</h4>

  <div> -->
<!--
  <img src="{{a.strDrinkThumb}}">
</div>
</div> -->
<!-- <div class="row" style="padding-left: 130px;">
  <div *ngFor="let a of alcoholy " class="card-deck"
  style="width:400px; padding:10px 15px;">

    <div class="card">
      <img class="card-img-top" src="{{a.strDrinkThumb}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{a.strDrink}}</h5>

      </div>
      <div class="card-footer" style="height: 85px;">
        <div  class="center">
          <button (click)="onDetail(a)">Details</button>
        </div>

      </div>
    </div>
  </div>
  </div> -->
  <div class="row" style="padding-left: 130px;" >
    <div *ngFor="let a of alcoholy  " class="card-deck"
    style="width:400px; padding:10px 15px;" >

    <app-card [data]="a" [showCard]="showCard"></app-card>
    </div>

      </div>

  <div class="modal" *ngFor="let newCockta of detai">

    <div id="myModal" class="modal" *ngIf="showModal">
    <div class="modal-content">


      <div class="d-flex justify-content-end" >

  <button (click)="onCloseModal()" style="font-size:30px ;cursor: pointer; position:20px;" id="close">&times;</button>
    </div>

    <div class="firstBlur">


    <p class="text-center">ingredients </p>
    <p>{{newCockta.strInstructions}}</p>


    </div>
    </div>
  </div>
  </div>
