button{
  border-radius: 30px;
  padding: 7px 20px;
  background-color: rgb(216, 212, 212);
  border:rgb(0, 0, 0) 90px;
  margin: 4px;
  margin-top: 50px;




}
.center {
  padding: 15px 115px  ;
}
.modal{
  position:fixed;
  display:block;
  height: 100%;
  width: 100%;


  background-color: #fff;


  padding-top: 100px;

  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);





  }
   .firstBlur, .secondBlur, .imgBlur {

    border: solid 2px rgb(217, 208, 219);
    padding:5px;
    /* position:relative; */

  }
  .modal-content {
    border: unset;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
    max-width: 500px;
    height: 400px;
    transform: translate(0% , 50%);
  }


  .search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    padding: 15px;
    transition: all 0.5s;
    margin-top: 110px;
  }
  .search-click:focus {
    width: 300px;
    padding-left: 50px;
  }
  .search-click {
    position: relative;
    overflow: hidden;
    height: 50px;
  }
  .search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;



  }
  .search-button{
    margin-top: 100px;

    margin-top: auto;

  }
  .input-group{
  display : inline-block;

  }




.search-container{


    display: flex;
    justify-content: end;
    /* margin-right: 15%; */
    /* align-self: flex-end; */
}
.flex-container {
  flex-wrap: wrap;
}
*{
  margin: 0;
  padding: 0;

}
