<div class="d-flex flex-column align-content-around flex-wrap">
  <div class="search-container" >

      <input type="text" [(ngModel)]="searchTxt" class="search-click" name="" placeholder="search here..." />
      <button  (click)="onSearch(searchTxt)" class="search-button" type="submit"><i class="fa fa-search"></i></button>

  </div>


 <div class="d-flex flex-wrap ">
    <div *ngFor="let ingredient of newIngr ">
      <button (click)="onSelect(ingredient.strIngredient1)"> {{ingredient.strIngredient1}}</button>
  </div>
</div>

<div *ngFor="let i of searchResults">

  <p> {{i.strIngredient}}<p>
  <div> {{i.strDescription}} </div>
  <button> {{i.strType}}</button>
</div>



  <!-- <div *ngFor="let ing of ingredy">
  <h4>{{ing.strDrink}}</h4>
  <div>
    <img src="{{ing.strDrinkThumb}}">

  </div>
  </div> -->
   <!-- <div class="row" style="padding-left: 130px;">
  <div *ngFor="let ing of ingredy" class="card-deck"
  style="width:400px; padding:10px 15px;"> -->

    <!-- <div class="card" *ngIf="searchTxt==='' || ing.strDrink.toLowerCase().includes(searchTxt)" >
      <img class="card-img-top" src="{{ing.strDrinkThumb}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ing.strDrink}}</h5>

      </div>
      <div class="card-footer" style="height: 85px;">
        <div  class="center">
          <button (click)="onDetail(ing)">Details</button>
        </div>

      </div>
    </div>
  </div>
  </div>  -->

  <div class="row" style="padding-left: 130px;" >
<div *ngFor="let ing of ingredy" class="card-deck"
style="width:400px; padding:10px 15px;" >

<app-card [data]="ing" [showCard]="showCard"></app-card>
</div>

  </div>










  <div class="modal" *ngFor="let newcat of details">

    <div id="myModal" class="modal" *ngIf="showModal">
    <div class="modal-content">


      <div class="d-flex justify-content-end" >

  <button (click)="onCloseModal()" style="font-size:30px ;cursor: pointer; position:20px;" id="close">&times;</button>
    </div>

    <div class="firstBlur">


    <p class="text-center">ingredients </p>
    <p>{{newcat.strInstructions}}</p>


    </div>
    </div>
  </div>
  </div>










