  .img-fluid{
width: 90vh;
height: 500px;
position:unset;


}
.video{
  display: flex;
  align-items: center;
justify-content: space-evenly;
  flex-wrap: wrap;


}
.container-txt{
  padding: 0px 20px;

}
.para-txt{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
padding: 10px;
}
.img-flui{
  width: 90vh;
  height: 500px;
  position:unset;

  }
  .vid{
    display: flex;
    align-items: center;
  justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .container-tx{
    padding: 0px 20px;
  }
  .para-tx{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
  padding: 10px;
  }
  .shoutout {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    color: white;

  }


ul {

  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  flex-direction: column;
}
.footer-03 {
  background: #f8f1f1;
  font-size: 14px;
}
.ftco-footer-social{
  list-style: none;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  margin-left: 55px;
}
.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
  color: #f8f1f1;;

}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
footer {
  padding: 7em 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.nav-item{
  font-size: large;
  color: #f8f1f1;

}
.nav-link{
  color: grey;
  font-size: 20px;
  position:absolute;
}
.footer-03 .footer-heading {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: 30px;

}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-03 .ftco-footer-social li a {
    color: #f17e7e;
}

.ftco-footer-social li a {
    height: 45px;
    width: 45px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: relative;
    margin-left: 70px;

}
.ftco-footer-social p-0{
  display:block;
}
:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

/* .card__arc path {
  fill: var(--surface-color);
   path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
} */

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .8em;
  color:rgb(43, 43, 43);
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: .8em;
  color:white;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.card__header-text{
  font-size: large;


}

a{
color: rgb(243 248 242);
font-size: 20px;
/* border-radius: 50px;
padding: 7px 20px;
background-color:  rgb(226, 139, 139); */


}
.card__description{
  color:rgb(243 248 242) ;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#myBtn1 {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:  #87827d;
  color: white;
  cursor: pointer;
  padding: 17px;
  border-radius: 10px;
  font-size: 20px;
}

#myBtn1:hover {
  background-color: #555;
}

/* body {
  background: linear-gradient(335deg, rgba(255,140,107,1) 0%, rgba(255,228,168,1) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
} */


/*
iframe{
  height: 500px;
  width: 100vh;

}*/

